* {
    margin: 0px;
    padding: 0px;
}

ul, li, p {
    margin-bottom: 0px;
    padding: 0px;
}

body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background-color: #e8e8e8;
    color: black;
}

/*Navbar*/

.container-fluid {
    padding: 0px 30px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav li {
    font-size: 17px;
}

/*Search Bar & Product Box*/

.content-section {
    min-height: 80vh;
    margin-top: 40px;
}

.content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;

    border: solid black 1px;
    border-radius: 20px;

    margin: auto;
    margin-bottom: 50px;

    padding: 10px 20px;
    background-color: rgb(231, 231, 231);
}

.content-search input {
    border: none;

    width: 100%;

    font-size: 18px;

    color: black;
    caret-color: rgb(255, 255, 255);
    background-color: transparent;
}

.content-search input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.content-search input:focus {
    outline: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 20px 10px;
}

.content_box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 20%;

    border-radius: 10px;

    text-align: center;

    transition: 1s;

    color: #fff;
    background-color: #798ba7;
}

.content_box:hover {
    z-index: 1;

    cursor: pointer;

    transform: scale(1.05);
}

.content_box img {
    border-radius: 10px;

    width: 300px;
    height: 250px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000000;
    background: #ffffff;
}


.content_box h4 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 24px;
}

.content_box p {
    padding: 10px 20px 20px 20px;

    text-align: justify;

    font-size: 17px;
}

/*Footer*/

footer {
    position: relative;

    padding: 40px 100px 30px 50px;

    width: 100%;
    height: auto;

    font-size: 15px;

    background: #3c4250;
}

footer .containers {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 50px;

    width: 100%;
}

footer .containers .sec h2 {
    position: relative;

    margin-bottom: 15px;

    font-size: 22px;
    font-weight: 600;

    color: #ffffff;
}

footer .containers .sec p {
    color: #ffffff;
}

footer .containers .sci {
    display: grid;
    grid-template-columns: repeat(4, 50px);

    margin-top: 20px;
}

footer .containers .sci li {
    list-style: none;
}

footer .containers .sci li a {
    display: inline-block;

    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;

    width: 36px;
    height: 36px;

    background: #333;
}

footer .containers .sci li a i {
    color: #fff;
    font-size: 18px
}

footer .containers .sci li a i:hover {
    color: #e31818cb;
}

footer .containers .quicklinks {
    position: relative;
}

footer .containers .quicklinks ul li {
    list-style: none;
}

footer .containers .quicklinks ul li a {
    display: inline-block;

    margin-bottom: 10px;

    text-decoration: none;

    color: #ffffff;
}

footer .containers .quicklinks ul li a:hover {
    color: #e31818cb
}

footer .containers .contact .info {
    position: relative;
}

footer .containers .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;

    margin-bottom: 16px;
}

footer .containers .contact .info .li_calender {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .containers .contact .info .li_calender span {
    padding-right: 5px;
}

footer .containers .contact .info li span {
    color: #ffffff;
    font-size: 18px;
}

footer .containers .contact .info li a {
    color: #ffffff;
    text-decoration: none;
}

.copyrightText {
    padding: 30px 100px;

    width: 100%;

    text-align: center;

    color: #ffffff;
    background-color: #1e4997;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/*Media Queries*/

@media(max-width: 991px) {
    footer {
        padding: 30px 20px 0px 20px
    }

    footer .containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }

    .copyrightText {
        padding: 20px 40px;
    }

}

@media (max-width: 768px) {

    .container-fluid {
        padding: 0px 10px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .content-search {
        width: 90%;
    }

    footer .containers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;

        width: 100%;
    }

    .copyrightText {
        padding: 20px 10px;
    }
}

@media (max-width: 310px) {

    .content_box {
        flex-basis: 100%;
    }

    .content_box img {
        width: 100%;
    }

}